<div class="social-container">
    <div class="social-item"></div>
    <div class="social-item">
        <a href="{{social?.facebook}}" aria-label="Link to Facebook" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="social-item">
        <a href="{{social?.twitter}}" aria-label="Link to Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="social-item">
        <a href="{{social?.github}}" aria-label="Link to Github"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
</div>