.title-card {
    display: flex;
}

h2, i {
    color: #767270;
    font-size: 30px;
    font-weight: 600;
}

i {
    display: flex;
    width: 15%;
    justify-content: center;
}

 h2 {
    display: flex;
    width: 85%;
    margin: auto;
 }