<div class="detail">
    <div class="item">
        <div class="title"> Email </div>
        <div class="filler"></div>
        <div class="info">{{details?.emailAddress}}</div>
    </div>
    <div class="item">
        <div class="title"> Phone </div>
        <div class="filler"></div>
        <div class="info">{{details?.phone}}</div>
    </div>
    <div class="item">
        <div class="title"> Website </div>
        <div class="filler"></div>
        <div class="info">{{details?.website}}</div>
    </div>
    <div class="item">
        <div class="title"> Location </div>
        <div class="filler"></div>
        <div class="info">{{details?.location?.name}}</div>
    </div>
</div>