.resume-container {
    display: flex;
    margin: 1% auto;
    width: 70%;
}

.column {
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

resume-contact {
    width: 30%;
    background-color: #55b9df;
    color: #fff;
}

.experience {
    background-color: #fff;
    width: 70%;
}