.resume-container {
    display: flex;
    margin: 1% auto;
    width: 70%;
}

resume-contact {
    width: 30%;
    background-color: #5da4d9;
    color: #fff;
    margin: 0 1%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

resume-experience {
    width: 70%;
    margin: 0 1%;
}