<div class="title">
   Code School  <!--<span class="new badge" data-badge-caption="Points">{{codeSchoolUser?.total_score}}</span>-->
</div>
<div class="course-container">
    <div class="course" *ngFor="let course of courses">
        <a href="{{course?.url}}">
            <div class="card">
                <div class="card-image">
                    <img src="{{course?.badge}}" alt="{{course?.title}}">
                </div>
                <div class="card-content">
                    {{course?.title}}
                </div>
            </div>
        </a>
    </div>
</div>