.title, .sub-title  {
    color: #85CDC9;
    font-size: 24px;
    font-weight: bold;
}

.course-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.course {
    width: 20%;
    cursor: pointer;
}

.course-img {
   display: block;
   position: relative;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   width: 100%;
}

.card {
    background-color: #3B3C41;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    box-shadow: none;
    border: none;
}
a .card-content {
    color: white;
}