.name, .title {
    font-weight: bold;
}

.position {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 3%;
  font-size: 12px;
}

.left {
    width: 25%;
}

.filler {
    width: 2%;
}

.right {
    width: 55%;
}