<div class="position">

    <div class="left">
        <div class="name">
            {{position?.company?.name}}
        </div>
        <br>
        <div class="dates">
            {{position?.startDate?.month | date:'MMM'}} {{position?.startDate?.year}}

            <span *ngIf="!position?.isCurrent">
                - {{position?.endDate?.month | date:'MMM'}} {{position?.endDate?.year}}
            </span>

               <span *ngIf="position?.isCurrent">
                Current
            </span>
            
        </div>
    </div>

    <div class="filler"></div>

    <div class="right">
        <div class="title">
            {{position?.title}}
        </div>
        <br>
        <div class="summary">
            {{position?.summary}}
        </div>
    </div>
</div>
